:root{
    --primercolor: rgb(121, 129, 235);
    --secondrycolor: cyan;
    --textcolor: blue;
    --thirdcolor: red;
    --color: rgb(255, 255, 255);
}
.navbar{
    background-color: var(--primercolor);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.navbar li{
    background-color: var(--scolor);
    display: inline;
    padding: 20px;
    margin: 7px;

}
