.container{
    height: 80vh;
    width: 80vw;
    background-color: aqua;
    position: relative;
}
.ball{
    background-color: red;
    width: 121px;
    height: 121px;
    border-radius: 70%;
    position:absolute;
    bottom: 0;
    animation: animatex 3s linear infinite, animatey 1s ease-out infinite alternate;

}

@keyframes animatex {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes animatey {
    from {
        bottom: 0;
    }

    to {
        bottom: 100%;
    }
}